@charset "UTF-8";
html, body {
	height: 100%;
	font-family: 'Montserrat', serif;
	/*font-family: 'Raleway', serif;*/
}
article, aside, footer, header, main, nav, section {
  display: block;
}
body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 28px;
	font-style:none;
}
h1{
	font-size: 38px;
	font-weight: bold;
}
h2{
	font-size: 28px;
	text-align: center;
	padding: 0 5%;
	margin: 2%;
	color: black;
}
h3{
	font-size: 18px;
	text-align: center;
	padding: 0 5%;
	margin: 2%;
	color: black;
}
h4{
	font-size: 16px;
	text-align: center;
	padding: 0 5%;
	margin: 2%;
	color: gray;
}
/*h in project-content*/
h5{
	margin: 1% 0;
	color: #FF6C00;
	font-size: 20px;
}
h6{
	margin: 1% 0;
	color: gray;
	font-size: 18px;
}
p{
	margin: 0% 0% 5% 0%;
	font-size: 18px;
	line-height: 29px;}
a{
	color: gray;
	text-decoration: none;
	font-style: bold;
	color: #FF6C00;
}
b{
	font-style: bold;
}
header{
	position: fixed;
	width: 90%;
	height: 6%;
	z-index: 99;
    padding: 1% 5%;
    clear: left;
    background-color: #FFDEAD;
}
nav{
	text-align: center;
	padding-bottom: 2%;
    background-color: #FFDEAD;
}
article{
}
footer{
    padding: 8%;
    clear: left;
    text-align: center;
	font-size: 18px;
	color: gray;
}
.traits{
	float: left;
    width: 24%;
    height: 18%;
    margin: 0 2%;
    position: relative;
	padding: 2%;
	text-align: center;
	box-shadow: 10px 10px 50px grey; 
    border-radius: 10%;
    background-color: rgba(248, 157, 70, 0.2);
}
.traits:hover{
    background-color: #ffeaa7;
}
.parallax-100{ 
	opacity: 0.8;
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-small{ 
    /* Full height */
    height: 70%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-index-1{
	background-image: url("img/parallax_index_1.jpg");}
.parallax-art-1{ 
    background-image: url("img/parallax_art_1.jpg");}
.parallax-krtco{
	background-image: url("projects/banner/krtco.jpg");}	
.parallax-nsysuhero{
	background-image: url("projects/banner/nsysuhero.jpg");}	
.intro{
	text-align: center;
	padding: 20% 5% 8% 5%;
	color: black;
}
.wrapper{
	padding: 30px 0;
}
.wrapper-index{
	width: 80%;
	padding: 35px 0;
	margin: 0 auto;
}
.seemore{
	float: left;
	width: 60%;
	padding: 5% 20%;
	height: 5%;
	margin: 10% 0 0 0;
	background-color: #FFDEAD;
}
.wrapper-project{
	width: 100%;
	padding: 5% 0;
	margin: 0 auto;
}
.art{
	text-align: center;
	padding: 0% 5%;
}
.copyright{
	font-size: 14px;
}

.logo{
	height: 100%;
}
.navbar-fixed{
	top: 0;
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 30px;
	margin: 0;
	font-size: 22px;
	padding: 10px;
	vertical-align: middle;
	background-color: background-color: #FFDEAD;
}
.drawer{
	display: none;
	z-index: 99;
}
.btn_nav{
 	font-size: 18px;
	line-height: 100%;
	margin: 4px;
	padding: 15px 15px;
 	float: right;
 	transition: background-color 0.5s ease;
	text-decoration: none;
}
.btn_nav:hover{
	color: white;
	background-color: #FF6C00;
/*	box-shadow: 4px 4px gray;*/
}
.a_nav:hover{
	color: white;
}
.light{
	color: white;
	background-color: #FF6C00;
}
.center{
	margin: auto;
	text-align: center;}
.display-left{
	float: left;
}
.display-right{
	float: right;
}
#avatar{
	width: 30%;
	margin: 1%;
	padding: 3%;
	display: block;
	float: left;
}
#about_text{
	display: inline;
	margin: 0 2%;
	width: 60%;
	float: left;
}
#skill{
	display: inline;
	width: 30%;
	margin: 0 2%;
	float: right;
}
/*icons*/
.fa {
    padding: 10px;
    width: 30px;
    height: 30px;
	vertical-align: middle;
    margin: 1%;
    text-align: center;
    color: gray;
}
.icon{
	padding: 3px 6px 3px 0px; 
    text-decoration: none;
    color: #FF6C00;
}
.fa-chevron-down{
	color: #FF6C00;
}

.fa-facebook{
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	color: gray;
}
.fa-github{
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	color: gray;
}
.fa-linkedin{
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	color: gray;
}
.fa-facebook:hover{
	color: white;
    background-color: #4360B5;
}
.fa-github:hover{
	color: white;
    background-color: #171515;
}

.fa-linkedin:hover{
    color: white;
    background-color: #0096D6;
}
.row-index{
	width: 80%;
	margin: 1% 1% 10% 1%;
	float: left;
	padding: 0 10%;
}
.project-small{
	cursor: pointer;
	width: 46%;
	display: table;
	float: left;
	position: relative;
	margin: 2%;
	/*background-color: rgba(248, 157, 70, 0.2);*/
	/*box-shadow: 10px 10px 50px grey; */
	transition: all .2s ease-in-out;
	/*border-radius: 15px;*/
}
.project:hover{
	background-color: white;
	opacity: 0.7;
	transform: scale(1.05);}
.project-small:hover{
	background-color: white;
	opacity: 0.7;
	transform: scale(1.05);
}
.project-content{
	display: none;
	vertical-align: top;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.98);
	height: 85%;
	padding: 3% 12%;
	margin: 1% 5% auto;
	position: fixed;
	top: 0;
	left: 0;
	overflow: scroll;
}
.close{
	position: absolute;
	cursor: pointer;
	z-index: 110;
	width: 61px;
	height: 61px;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	float: right;
	top: 0;
	right: 0;
	color: white;
	background-color: gray;
}
#video_famifilm{
	padding: 3%;
}
.banner{
	width: 100%;
	margin: 0 auto;
	padding: 2% 0;
	float: left;
}
.banner-img{
	float: left;
	display: block;
	width: 45%;
	padding: 1%;
}
.banner-img-big{
	float: left;
	display: block;
	width: 95%;
	padding: 1%;
}
.banner-img-medium{
	float: left;
	display: block;
	width: 50%;
	padding: 1%;
}
.banner-img-small{
	float: left;
	display: block;
	width: 32%;
	padding: 0.5%;
}
/*.prow {
    width: 100%;
    float: left;
    text-align: left;
    margin: 0.5%;
}*/
/*.pcol{
	width: 30%;
	float: left;
	text-align: left;
	margin: 0.5%;
    padding: 0% 1.5%;
}*/
/*.pcol-img{
	width: 50%;
	float: left;
	text-align: left;
	margin: 1%;
}*/
.title{
	font-size: 20px;
}
.detail{
	display: none;
}
#video_famifilm{
	display: none;
}
#overlay{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	background-color:rgba(0, 0, 0, 0.8); 
}
img.project-size{
	width: 90%;
	height: auto;
	padding: 5% 5% 0% 5%;
}
img.img-col-one{
	width: 100%;
	height: auto;
	margin: 0%;
}
img.img-col-two{
	width: 100%;
	height: auto;
	margin: 0;
}
img.img-col-three{
	width: 33%;
	height: auto;
	margin: 0%;
}
video{
	margin: 0 15% auto;
	width: 70%;
	padding: 1%;
}
.svg-index{
	width: 40%;
}
.row-project{
	float: left;
	width: 60%;
	height: 100%;
	padding: 0 20%;
}
.row-project-color{
	background-color: ;
}
.col-one{
	float: left;
	width: 100%;
	position: relative;
}
.col-two{
	float: left;
	width: 40%;
	margin: 0 5%;
	position: relative;
}
.col-three{
	float: left;
	width: 23%;
	margin: 0 5%;
	position: relative;
}
.drawer{
	display: none;
}
.a-link{
	text-decoration: underline;
}

/******************************************************/
/******************************************************/
/******************************************************/
#portfolio {  
    margin: 2% 6%;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2%;
    -moz-column-gap: 2%;
    column-gap: 2%;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.tile:hover { 
	
}

.scale-anm {
  transform: scale(1);
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}
.btn {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: .25rem;
    height: auto;
    border: 0px;
    vertical-align: middle;
    -webkit-appearance: none;
    color: black;
}

.btn:hover {
  text-decoration: none;
  color: white;
  background-color: #FF6C00;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.loader{
	width: 100%;
	height: 100%;
	position: fixed;
	padding-top: 25%;
	z-index: 120;
	margin: auto;
	text-align: center;
	background-color:white; 
}




