html, body {
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	background: url("img/bg.png");
	font-family: 'PT Sans', serif;
}
h1{
	color: #FF6C00;
}
h2,h3{
	color: gray;
	font-size: 18px;
	text-align: center;
}
h3{
	font-size: 16px;
}
p{
	font-size: 18px;
	line-height: 28px;
}
.logo{
	margin: 0 auto;
	text-align: center;
	height: 35%;
}
.navbar{
    z-index: 100;
    position: fixed;
    width: 100%;
	margin: 15px;
	font-size: 22px;
	width: 100%;
    position: relative;
    overflow: hidden;
    height: 50px;
}
.navbar-fixed{
	top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 50px;
	margin: 0;
	font-size: 22px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.6);
}
.btn_nav{
	margin: 20px;
	transition: background-color 3s ease;
	text-decoration: none;
	color: #715E5E;
}
.btn_nav:hover{
	color: #FF6C00;
	border-bottom: 4px solid currentColor;
  	-webkit-box-shadow: 0 5px 6px -6px #222;
  	-moz-box-shadow: 0 5px 6px -6px #222;
  	box-shadow: 0 5px 6px -6px #222;
}
.light{
	color: #FF6C00;
	border-bottom: 4px solid currentColor;
  	-webkit-box-shadow: 0 5px 6px -6px #222;
  	-moz-box-shadow: 0 5px 6px -6px #222;
  	box-shadow: 0 5px 6px -6px #222;
}
.center{
	margin: auto;
	text-align: center;
}
.content{
	margin: 0 10% 5% 10%;
	padding: 10px;
	overflow: auto;
	float: left;
	background-color: rgba(255, 255, 255, 0.6);
}
.display{
	padding: 20px;
}
.display-left{
	font-size: 50px;
	color: white;
	float: left;
}
.display-right{
	font-size: 50px;
	color: white;
	float: right;
}
.card-column {
  width: 50%;
  float: left;
  padding: 4%;
  box-sizing: border-box;
}
#avatar{
	margin: 20px;
	display: block;
	float: left;
}
#about_text{
	margin: 0 20px;
	width: 70%;
	display: block;
	float: left;
}
#skill{
	width: 20%;
	float: right;
}
.footer{
	margin: 3% auto;
	text-align: center;
	padding: 3%;
}
/*icons*/
.fa {
    padding: 2%;
    font-size: 30px;
    width: 3%;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    border: white solid 1px;
    color: white;
}
.fa-facebook:hover{
    background-color: #3D549C;
}
.fa-github:hover{
    background-color: #171515;
}
.fa-linkedin:hover{
    background-color: #0096D6;
}
.row{
	margin: 1%;
}
.project-type{
	width: 12%;
	padding: 0% 3%;
	float: left;
}
.slideshow-container {
	max-width: 70%;
	overflow: auto;
	position: relative;
	margin: 1%;
	display: block;
	padding: 1%;
	background-color: rgba(255, 255, 255, 0.6);
}
.project{
	width: 45%;
	height: 30%;
	float: left;
	position: relative;
	margin: auto;
	margin: 10px;
	display: block;
}
#connected{
	margin-top: 5%;
	font-size: 22px;
	font-family: 'Vollkorn SC';
	color: white;
}
img.project-size{
	width: 100%;
	height: auto;
}